@import "./variables";

$theme-colors: (
  "primary": $primary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);

/* import bootstrap to set changes */
@import "bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif !important;

  margin: 0;
  padding: 0;
}

.card {
  background-color: var(--extra);
  border: none !important;
}

a {
  text-decoration: none;
  color: inherit !important;
}

.form-control:focus {
  box-shadow: none !important;
  outline: none !important;
}
.form-select:focus {
  box-shadow: none !important;
  outline: none !important;
}

.btn-close:hover,
.btn-close:focus {
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a:hover {
  cursor: pointer;
}
