@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
:root {
  --dark: #2c2c2c;
  --light: #e2dede;
  --primary: #20c997;
  --extra: #1f1f1e;
}

$primary: #20c997;
$success: #198754;
$warning: #f7c11e;
$danger: #dc3545;
$info: #0dcaf0;
$light: #f8f9fa;
$dark: #1f1f1e;
